<!-- templates/home.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <h1>Welcome to our Website</h1>
        {% for company in companies %}
            <div>
                <p>Company - {{ company.name }}</p>
                <p>Owned By - {{ company.officer.username }} </p>
            </div>
        {% endfor %}
        
    </div>
</body>
</html>
